@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS or Tailwind configuration */
@keyframes countdownFade {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.animate-countdown {
  animation: countdownFade 1s linear infinite;
}

.test {
    background-color: red;
}